**

!Dockerfile
!.dockerignore
!pyproject.toml
!README.md

!agent/
!agent/**
!api/
!api/**
!bot/
!bot/**
!deployment/
!deployment/**
!gitlab_client/
!gitlab_client/**
!policy_engine/
!policy_engine/**
!sample_app/
!sample_app/**